/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

/* IDs */

#logo {
	float: left;
	height: 100%;
	line-height: 1.6em;
        /* float: left; */
}

/* HTML elements */

a {
	color: #d65555;
	font-weight: bold; 
	margin-left: 0.01em;
	text-decoration: none;
}

body {
	background-color: #222;
	color: white;
	font-family: 'Work + Sans', sans-serif;
	font-size: 1.2rem;
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
}

header {
	background-color: #d65555;
	height: 4em;
	padding: 0px 12px;
}

main { padding: 8px; }

nav {
	float: right;
        height: 100%;
	margin-top: 0.5em;
}

nav li a { 
        //padding: 00px 0px;
}

nav ul li {
	display: inline-block;
	float: left;
	margin-left: 24px;
}

nav ul li a { color: white; }

nav ul li::after {
	content: '';
        display: block;
        height: 2px;
	background-color: #ffffff;
        width: 0px;
        transition: all ease-in-out 250ms;
}

nav ul li:hover::after { width: 100%; }
